nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Angular Notes
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
        li: a(ui-sref='faq'): i.fa.fa-home &nbsp; FAQ
        li: a(ui-sref='contact'): i.fa.fa-home &nbsp; Contact
        li(ng-show='!email'): a(ui-sref='register'): i.fa.fa-home &nbsp; Register
        li(ng-show='!email'): a(ui-sref='login'): i.fa.fa-home &nbsp; Login
        li(ng-show='email'): a(ng-click='logout()'): i.fa.fa-home &nbsp; Logout
        li(ng-show='email'): a(ui-sref='notes.new'): i.fa.fa-home &nbsp; New Notes
        li(ng-show='email'): a(ui-sref='notes.list'): i.fa.fa-home &nbsp; Notes
        li: a(href='#') {{email}}
